<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <%= hidden_field_tag "user[course_ids][]", nil %>
    <% Course.all.each do |course| %>
      <div>
        <%= check_box_tag 'user[course_ids][]', course.id, @user.courses.include?(course), id: dom_id(course) %>
        <%= label_tag dom_id(course), course.name %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
