<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Courses:</strong>
    <ul>
      <% @user.courses.each do |course| %>
        <li><%= course.name %></li>
      <% end %>
    </ul>
  </tr>

</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
